.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
# Include node_modules for production dependencies (axios)
node_modules/@types/**
node_modules/.bin/**
node_modules/typescript/**
node_modules/@vscode/**

